.animatedLogo {
    background: url('../banner.jpg');
    background-size: 100%;
    display: block;
    height: 60px;
    width: 468px;
}
.logoAnimated {
    -webkit-animation: animatedBackground 16s steps(384) forwards;
            animation: animatedBackground 16s steps(384) forwards;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}
@-webkit-keyframes animatedBackground {
    0% { background-position: 0 23040px;}
    100% { background-position: 0 0;}
}
@keyframes animatedBackground {
    0% { background-position: 0 23040px;}
    100% { background-position: 0 0;}
}